@model Domain.Entities.Book

<div class="well">
    <div class="row">

        <div class="col-xs-9">
            <h4>
                <strong>@Model.Author </strong>
            </h4>
            <h3>
                <strong>@Model.Name</strong>
            </h3>
        </div>

        
        <div class="col-xs-3">

         
        </div>
        @using (Html.BeginForm("AddToCart", "Cart"))
            {
            <div class="pull-right">
                @Html.HiddenFor(x => x.BookId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                <h3>
                    <input type="submit" class="btn btn-success" value="В корзину" />
                    <strong id="price" class="pull-right label label-primary" >@Model.Price.ToString("# руб")</strong> 
                </h3>
                <div class="img">
                    <img width="150" height="150" src="@Model.Description" />
                </div>
                <span class="lead">@Model.picture</span><br><br><br>
            </div>
        }
    </div>
    
</div>
